* {
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
}

:root {
    --dark-color: #172339;
    --grey: #49566D;
    --white: #fff;
    --cream: #F3EDE7;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    padding-top: 2rem;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1110px;
}

.beta_button {
    padding: 1rem 0.7rem 1rem 0.7rem;
    border: 1px solid var(--dark-color);
    text-decoration: none;
    border-radius: 0.5rem;
    color: var(--dark-color);
    font-family: 'Epilogue', sans-serif;
    font-weight: bold;
}


main {
    margin-top: 5rem;
}

#words_img {
    display: flex;
    flex-direction: column;
}


.top-text {
    text-align: left;
}

#img-section {
    width: 100%;
    height: 240px;
    background-image: url('imgs/image-hero-landscape@2x.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
    margin-top: 3.5rem;
}

#solution {
    position: relative;
}

h1 {
    font-size: 38px;
    color: var(--dark-color);
    line-height: 3rem;


}

.bold {
    font-weight: bold;
}

#curved_line {
    position: absolute;
    width: 10rem;
    top: -2rem;
    left: 9.5rem;
}

.top-text {
    line-height: 1.9rem;
    font-size: 1rem;
    color: var(--grey);
    margin-top: 2rem;
}

.main-button {
    margin-top: 1rem;
    display: inline-block;
    color: var(--white);
    background-color: var(--dark-color);
    padding: 1.2rem 2rem 1.2rem 2rem;
}

#stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.stat {
    text-align: center;
    margin-top: 2rem;


}

.stat p {
    font-size: 48px;
    font-weight: bold;
    color: var(--dark-color);

}

.stat span {
    color: var(--grey);
    display: inline-block;
    margin-top: 0.5rem;
    font-weight: bold;

}

#middle-area {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-color);
    border-radius: 1rem;
    align-items: center;
    margin-top: 15rem;
    position: relative;
}


#middle-words h2,
p {
    color: var(--white);
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#second-slash {
    width: 49px;
    height: 40px;
    margin-top: 15rem;
}

#quote {
    font-size: 1.1rem;
    line-height: 2rem;
    padding: 1rem;
}

#name-title {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#title {
    color: var(--cream);
    margin-top: 1rem;
    letter-spacing: 0.1rem;

}

#img-area {
    display: flex;
    justify-content: center;
    position: absolute;
    top: -13rem;
}

#jeremy {
    width: 252px;
}

@media screen and (min-width:768px) {
    #words_img {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    #img-section {
        height: 482px;
        background-image: url('imgs/image-hero-portrait@2x.png');
        background-position: bottom;
        margin-top: 0rem;
        position: relative;
        width: 45%;
        z-index: 0;
    }

    h1 {
        font-size: 56px;
        z-index: 10;
        position: absolute;
        width: 500px;
        left: 0rem;
        top: -1rem;
        line-height: 4rem;

    }

    #curved_line {
        position: absolute;
        width: 14rem;
        top: -3.8rem;
        left: 15rem;
        z-index: 400;
    }

    body {
        display: flex;
        align-items: center;
        padding: 1.2rem;
    }

    #content {
        max-width: 778px;
        padding: 0.8rem;
    }

    .top-text {
        margin-top: 9rem;
        margin-bottom: 2rem;


    }

    .top-text {
        padding-right: 3rem;
    }

    #solution {
        width: 60%;
    }

    #stats {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0rem 4rem 0rem 4rem;

    }
}

@media screen and (min-width:1300px) {
    #content {
        max-width: 1110px;
    }

    h1 {
        font-size: 72px;
        width: 650px;
        top: -3rem;
        line-height: 5rem;
    }

    #top-area {
        display: flex;
        flex-direction: row;
    }

    #curved_line {

        width: 18rem;
        top: -5.8rem;
        left: 19rem;

    }

    #stats {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0rem 4rem 0rem 4rem;
        position: relative;
        left: 1rem;

    }

    #img-section {
        height: 600px;
        width: 45%;
    }

    #solution {
        width: 60%;
    }

    .top-text {
        line-height: 1.9rem;
        font-size: 1.1rem;
        padding-right: 10rem;
        margin-top: 9rem;

    }

    .stat {
        text-align: left;
        margin-top: 3rem;
        margin-bottom: 3rem;

    }
}