* {
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
}

:root {
    --dark-color: #172339;
    --grey: #49566D;
    --white: #fff;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    padding-top: 2rem;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1110px;
}

.beta_button {
    padding: 1rem 0.7rem 1rem 0.7rem;
    border: 1px solid var(--dark-color);
    text-decoration: none;
    border-radius: 0.5rem;
    color: var(--dark-color);
    font-family: 'Epilogue', sans-serif;
    font-weight: bold;
}


main {
    margin-top: 5rem;
}

#words_img {
    display: flex;
    flex-direction: column;
}

#img-section {
    width: 100%;
    height: 240px;
    background-image: url('imgs/image-hero-landscape@2x.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
    margin-top: 3.5rem;
}

#solution {
    position: relative;
}

h1 {
    font-size: 38px;
    color: var(--dark-color);
    line-height: 3rem;


}

.bold {
    font-weight: bold;
}

#curved_line {
    position: absolute;
    width: 10rem;
    top: -2rem;
    left: 9.5rem;
}

.top-text {
    line-height: 1.9rem;
    font-size: 1rem;
    color: var(--grey);
    margin-top: 2rem;
}

.main-button {
    margin-top: 1rem;
    display: inline-block;
    color: var(--white);
    background-color: var(--dark-color);
    padding: 1.2rem 2rem 1.2rem 2rem;
}

@media screen and (min-width:768px) {
    #words_img {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #img-section {
        height: 482px;
        background-image: url('imgs/image-hero-portrait@2x.png');
        margin-top: 0rem;
        position: relative;
        z-index: 0;
    }

    h1 {
        font-size: 56px;
        z-index: 10;
        position: absolute;
        width: 500px;
        left: 0rem;
        top: -7rem;
        line-height: 4rem;

    }

    #curved_line {
        position: absolute;
        width: 14rem;
        top: -9rem;
        left: 15rem;
        z-index: 400;
    }

    body {
        display: flex;
        align-items: center;
    }

    #content {
        max-width: 800px;
    }
}