* {
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
}

:root {
    --dark-color: #172339;
    --grey: #49566D;
    --white: #fff;
    --cream: #F3EDE7;
}

#jeremy-big {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;

    background-color: #FAF8F6;

}

#content {
    position: relative;
    overflow: hidden;
}

#content {
    /* max-width: 1110px; */
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1110px;
    padding: 1rem;


}

.beta_button {
    padding: 1rem 0.7rem 1rem 0.7rem;
    border: 1px solid var(--dark-color);
    text-decoration: none;
    border-radius: 0.5rem;
    color: var(--dark-color);
    font-family: 'Epilogue', sans-serif;
    font-weight: bold;
}

.beta_button:hover {
    color: #fff;
    background-color: var(--dark-color);

}


main {
    margin-top: 5rem;
    padding: 0rem 1rem 0rem 1rem;

}

#words_img {
    display: flex;
    flex-direction: column;
}


.top-text {
    text-align: left;
}

#img-section {
    width: 100%;
    height: 240px;
    background-image: url('imgs/image-hero-landscape@2x.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
    margin-top: 3.5rem;
}

#solution {
    position: relative;
}

h1 {
    font-size: 38px;
    color: var(--dark-color);
    line-height: 3rem;


}

.bold {
    font-weight: bold;
}

#curved_line {
    position: absolute;
    width: 10rem;
    top: -2rem;
    left: 9.5rem;
}

.top-text {
    line-height: 1.9rem;
    font-size: 1rem;
    color: var(--grey);
    margin-top: 2rem;
}

.main-button {
    margin-top: 1rem;
    display: inline-block;
    color: var(--white);
    background-color: var(--dark-color);
    padding: 1.2rem 2rem 1.2rem 2rem;
    border: none;

}

.main-button:hover {
    background-image: linear-gradient(to bottom right, #a060ff, #cB30E3, #FFA84E);
    border: none;

}


#stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.stat {
    text-align: center;
    margin-top: 2rem;


}

.stat p {
    font-size: 48px;
    font-weight: bold;
    color: var(--dark-color);

}

.stat span {
    color: var(--grey);
    display: inline-block;
    margin-top: 0.5rem;
    font-weight: bold;

}




#middle-words h2,
p {
    color: var(--white);
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#second-slash {
    width: 49px;
    height: 40px;
    margin-top: 15rem;
}

#quote {
    font-size: 1.1rem;
    line-height: 2rem;
    padding: 1rem;
}

#name-title {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#title {
    color: var(--cream);
    margin-top: 1rem;
    letter-spacing: 0.1rem;

}

#img-area {
    display: flex;
    justify-content: center;
    top: -13rem;



}

#jeremy {
    width: 252px;
    z-index: 10;
    position: absolute;
    top: -13rem;
}

#blur {
    position: absolute;
    top: -13rem;
    z-index: 4;

}

footer {
    background-color: var(--cream);
    width: 100%;
}



#footer-items {
    display: flex;
    flex-direction: column;
    padding-top: 6rem;

    align-items: center;
}

#bottom-suite {
    width: 5rem;
}

#copy {
    color: #49566D;

    font-family: 'Epilogue', sans-serif;
    margin-top: 2rem;
}

#socials {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    width: 125px;
    justify-content: space-evenly;
}

.social:hover {
    cursor: pointer;
    fill: red;
}

svg:hover {
    filter: invert(0.5)
}

#middle-site {


    width: 100%;

    height: 55rem;
    overflow: hidden;
}

#middle-area {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-color);
    border-radius: 1rem;
    align-items: center;
    margin-top: 15rem;
    position: absolute;
    top: 70rem;
    font-family: 'Epilogue', sans-serif;



}

footer {
    height: 17rem;
    background-color: red;
    margin-top: 2rem;
}







@media screen and (min-width:768px) {
    #words_img {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    #img-section {
        height: 482px;
        background-image: url('imgs/image-hero-portrait@2x.png');
        background-position: bottom;
        margin-top: 0rem;
        position: relative;
        width: 45%;
        z-index: 0;
    }

    h1 {
        font-size: 56px;
        z-index: 10;
        position: absolute;
        width: 500px;
        left: 0rem;
        top: -1rem;
        line-height: 4rem;

    }

    #curved_line {
        position: absolute;
        width: 14rem;
        top: -3.8rem;
        left: 15rem;
        z-index: 400;
    }

    body {
        display: flex;
        align-items: center;
        /* padding: 1.2rem; */
    }



    .top-text {
        margin-top: 9rem;
        margin-bottom: 2rem;


    }

    .top-text {
        padding-right: 3rem;
    }

    #solution {
        width: 60%;
    }

    #stats {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0rem 4rem 0rem 4rem;

    }

    #middle-area {
        margin-top: 18rem;
        width: 85%;
    }

    #quote {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    #footer-items {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

    }

    #copy {
        margin-top: 0rem;
        position: relative;
        left: 1rem;
    }

    #socials {
        margin-top: 0rem;
        width: 120px;
        justify-content: space-between;
    }

    footer {
        margin-top: 10rem;
    }

    #middle-site {


        width: 100%;

        height: 20rem;
        overflow: hidden;
    }

    #middle-area {
        display: flex;
        flex-direction: column;
        background-color: var(--dark-color);
        border-radius: 1rem;
        align-items: center;
        margin-top: 18rem;
        position: absolute;
        top: 50rem;
        width: 90%;
        max-width: 735px;



    }

    footer {
        height: 35rem;
        background-color: red;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    #content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #footer-items {
        padding-top: 13rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 0rem 2.5rem 2.5rem 2.5rem;


        max-width: 800px;
    }

    header {
        padding: 2.5rem;
        max-width: 800px;
    }

    main {
        padding: 0rem 2.5rem 0rem 2.5rem;
        max-width: 800px;
    }

}

@media screen and (min-width:1300px) {

    main {

        overflow-x: visible;
        max-width: 1150px;
        padding: 0rem;
    }


    #content {
        /* max-width: 1110px; */
    }

    header {
        max-width: 1150px;
        padding-left: 0rem;
        padding-right: 0rem;
    }

    h1 {
        font-size: 72px;
        width: 650px;
        top: -3rem;
        line-height: 5rem;
    }

    #top-area {
        display: flex;
        flex-direction: row;
    }

    #curved_line {

        width: 18rem;
        top: -5.8rem;
        left: 19rem;

    }

    #stats {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0rem 4rem 0rem 4rem;
        position: relative;
        left: 1rem;

    }

    #img-section {
        height: 600px;
        width: 45%;
    }

    #solution {
        width: 60%;
    }

    .top-text {
        line-height: 1.9rem;
        font-size: 1.1rem;
        padding-right: 10rem;
        margin-top: 9rem;

    }

    .stat {
        text-align: left;
        margin-top: 3rem;
        margin-bottom: 3rem;

    }

    #middle-area {
        flex-direction: row;
        justify-content: space-around;
        height: 545px;
        max-width: 1150px;
    }

    #second-slash {

        margin-top: 0rem;
        position: relative;
        left: 10rem;
        top: -4rem;
        width: 64.05px;
        height: 52px;
    }

    #jeremy {

        display: none;

    }

    #jeremy-big {
        width: 359px;
        z-index: 10;
        position: absolute;
        top: -2.7rem;
        display: block;
        height: 589px;
        left: 4rem;

    }




    #blur {
        position: absolute;
        top: 3rem;
        left: 0.2rem;


    }

    #middle-words {
        width: 400px;
    }

    #middle-words h2,
    p {
        text-align: left;
    }


    #quote {
        text-align: left;
        padding: 0rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    #workz {
        padding-left: 2rem;
    }

    #name-title {
        padding-left: 2rem;
    }

    footer {

        width: 100%;
        height: 25rem;
    }

    #middle-site {
        height: 26rem;
    }

    #middle-area {
        margin-top: 11.5rem;
    }


}